.details-wrapper {
  margin: 0 5em;
  padding: 2em;
}

.banner-img {
  width: 100%;
  height: 200px;
  background: linear-gradient(
    177.7deg,
    rgba(58, 129, 191, 0.3) 1.63%,
    rgba(65, 48, 90, 0.009) 148.18%
  );
  object-fit:cover;
  border-radius: 20px;
  padding: 0.5em;
}
.podcast-description {
  color: var(--purple-grey);
}

.create-episode-btn {
  margin-left: auto;
  max-width: 600px;
  height: 50px;
  background-color: var(--theme);
}
