*{
  color:var(--white);
}

.wrapper {
  
  width: 60vw;
  margin: 0 auto;
}

.podcast-flex{
  display:flex;
  gap:2em;
}

.search-box {
  text-align:start;
  width: 100%;
  padding: 14px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  background-color: var(--theme);
  box-sizing: border-box;
  color: var(--white);
  font-size: 0.8rem;
  color: gray;
}


