.audio-player {
  width: 100vw;
  bottom: 0;
  position: fixed;
  display: flex;
  padding: 1em 5em;
  background-color: rgba(14, 2, 21, 0.5);
  justify-content: start;
  align-items: center;
  height: 100px;
  justify-content: center;
}

img {
  height: 50px;
}

.range-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  gap: 1em;
}

.duration {
  filter: hue-rotate(25deg);
  width: 100%;
}

.volume-range {
  filter: hue-rotate(25deg);
  width: 30%;
}
